{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasta Foundation</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div id="main"></div>
    <h2>Welcome to Hasta Foundation</h2>
    <p>Our mission is to provide a platform for the less privileged to get access to quality education</p>
    <a href="/about">About Us</a><br>

    <a href="/camera">Camera</a>
    
</body>
</html>